extends layout

block content
  table(class="mainOptionsList")
    tr
      td(class="selectNext")
        p(class="selectName") News
      td(class="selectNext")
        p(class="selectName") Simulators
    tr
      td(class="selectNext")
        p(class="selectName") Guides
      td(class="selectNext")
        p(class="selectName") Mounts/Wings
    tr
      td(class="selectNext") 
        p(class="selectName") Fashion
      td(class="selectNext")
        p(class="selectName") Shops n Prices
    tr
      td(class="selectNext")
        p(class="selectName") About
      td(class="selectNext")
        p(class="selectName") Play the Game!




