extends layout

block content
  table(class="mainOptionsList")
    tr
      td(class="selectNext")
          p(class="selectName") Simulators
      td(class="selectNext")
          p(class="selectName") Guides


