doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      .header
        p(class='title') Perfect World Resource
      .mainContent
        block content
