doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
      .header
        a(href="/")
          p(class='title') Perfect World Resource
      .mainContent
        block content
      block scripts
        script(src="js/jquery-3.1.0.min.js")
        script(src="js/main.js")
