extends layout

block content
  .sectionMain
    .sectionTitle
      p Pack Opening Simulator
    hr(class="contentBreak")
    .sectionContent
      select(id="packList" class="hidden")
        option(value="0" name="Select a Pack!") Select a Pack!
      table(id="packDisplay" class="hidden")
        tr
          td(id="packData")
            p(id="packWarning")
            | Open a Certain Number of Packs: 
            input(type="text" id="packsByNum" placeholder="Enter a number!" maxlength="7")
            | 
            input(type="button" value="Try your Luck!" id="submitPacksByNum")
            p(id="packsByNumStatus") &nbsp;
            | Open Packs until Item Obtained: 
            select(class="packItems")
            | 
            input(type="text" id="packsByItemNum" placeholder="quantity" maxlength="4" class="smallTextBox")
            | 
            input(type="button" id="submitPacksByFilter" value="Try for item(s)!")
            p(id="packsByItemStatus") &nbsp;
            | Open Packs until Items Obtained:
            select(class="packItems")
            | 
            input(type="text" id="packsByFilterNum" placeholder="quantity" maxlength="4" class="smallTextBox")
            | 
            input(type="button" id="addItemByFilter" value="Add to list! (Not yet functional)")
            p(id="packsByListStatus") &nbsp;
            table(id="selectedItems")
          td(id="packInfo")
            table(id="packContents")

block append scripts
  script(src="js/packs.js")