extends layout

block content
  .sectionMain
    .sectionTitle
      p Pack Opening Simulator
    hr(class="contentBreak")
    .sectionContent
      select(id="packList" class="hidden")
        option(value="0" name="Select a Pack!") Select a Pack!
      table(id="packDisplay" class="hidden")
        tr
          td(id="packData")
            | Open a Certain Number of Packs: 
            input(type="text" id="packsByNum" placeholder="Enter a number!" maxlength="7")
            | 
            input(type="button" value="Try your Luck!" id="submitPacksByNum")
            p(id="packsByNumStatus") &nbsp;
            | Open Packs until Item(s) Obtained: 
            select(id="packItems")
            | 
            input(type="text" id="packsByFilterAddNum" placeholder="quantity" maxlength="4")
            | 
            input(type="button" id="submitPacksByFilter" value="Try for item(s)!")
            p(id="packsByFilterStatus") &nbsp;
          td(id="packInfo")
            table(id="packContents")

block append scripts
  script(src="js/packs.js")