extends layout

block content
  .sectionMain
    .sectionTitle
      p Pack Opening Simulator
    hr(class="contentBreak")
    .sectionContent
      p Select a Pack!

block append scripts
  script(src="js/packs.js")




