extends layout

block content
  table(class="mainOptionsList")
    tr
      td(class="selectNext")
        a(href="/packs")
          p(class="selectName") Pack Opener
    //
      td(class="selectNext")
        p(class="selectName") Character
    //    
      tr
        td(class="selectNext")
          p(class="selectName") Refining
        td(class="selectNext")
          p(class="selectName") War Avatar
      tr
        td(class="selectNext")
          p(class="selectName") PW Calc