html {
  height: 100%;
}
body {
  font-family: Arial, Narrow, sans-serif;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #222;
  background: -webkit-radial-gradient(#444, #222);
  background: -o-radial-gradient(#444, #222);
  background: -moz-radial-gradient(#444, #222);
  background: radial-gradient(#444, #222);
  margin: 0;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.header {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 2px #fff;
}
.title {
  font-size: 42px;
  line-height: 2;
  font-weight: bold;
  color: #f9f9f9;
}
.mainContent {
  text-align: center;
}
.hidden {
  display: none;
}
.mainOptionsList {
  width: 75%;
  margin: 0 auto;
  border-spacing: 20px;
}
.selectNext {
  height: 120px;
  margin: 0 auto;
  width: 50%;
  border-radius: 20px;
  background: #00009a;
  background: -webkit-linear-gradient(left, #00009a, #0072ff, #00009a);
  background: -o-linear-gradient(right, #00009a, #0072ff, #00009a);
  background: -moz-linear-gradient(right, #00009a, #0072ff, #00009a);
  background: linear-gradient(to right, #00009a, #0072ff, #00009a);
  box-shadow: 0 0 4px 4px rgba(0,114,255,0.8);
  -webkit-transition: box-shadow 1s;
  transition: box-shadow 1s;
}
.selectNext:hover {
  box-shadow: 0 0 4px 8px #fff;
}
.selectName {
  text-align: center;
  font-size: 35px;
  color: #f9f9f9;
  line-height: 120px;
  padding-left: 10px;
  -webkit-transition: font-size 1s, text-shadow 1s;
  transition: font-size 1s, text-shadow 1s;
}
.selectName:hover {
  font-size: 40px;
  text-shadow: 0 0 3px #000;
}
.sectionMain {
  width: 90%;
  background-color: #222;
  border: 5px solid #000;
  border-radius: 20px;
  box-shadow: 0 0 8px 1px rgba(255,255,255,0.3);
  margin: 0 auto;
  color: #eee;
  padding: 10px;
}
.contentBreak {
  width: 80%;
  margin-top: 0;
}
.sectionTitle {
  font-size: 20px;
  line-height: 2;
}
#packDisplay {
  width: 100%;
}
#packData {
  width: 60%;
  vertical-align: top;
}
#packInfo {
  width: 40%;
}
#packContents {
  margin: 0 auto;
  text-align: left;
  border-spacing: 5px;
  padding-top: 20px;
}
